@using Data.Entities
@model User
<div style="direction: rtl; padding: 20px">
    <h2> Deare @Model.Username</h2>
    <p>
        Please Acctive Your Account
    </p>
    <p>
        <a href="https://localhost:7195/Users/UserHome/ActiveUser/@Model.ActiveCode">Register Now!</a>
    </p>
</div>
