@using Core.DTOs
@model ForgotPasswordVm
@{
    Layout = null;
}

<h2>Forgot Password</h2>

<div class="form-layer">

    <form asp-action="ForgotPassword" method="post">

        <div class="input-group">
            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
            <input asp-for="Email" type="text" class="form-control" placeholder="Email" aria-describedby="email-address">

        </div>
        <span asp-validation-for="Email"></span>
        <button class="btn btn-success">Send Me Email!</button>

    </form>
</div>